.account {
  padding: 2rem 25rem;
  display: flex;
  gap: 3em;
  height: 50vh;

  aside {
    nav {
      display: flex;
      flex-direction: column;
    }
  }

  div {
    padding: 2rem;

    h2 {
      font-size: 3rem;
    }

    p {
      margin-block: 1em;
    }
  }
}